<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/signUp.css" />

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>316 Amazon</title>
  </head>

  <body>
    <header id="header">
      <div class="desktopHeader">
        <div class="logo">
          <a href="/">316 Amazon</a>
        </div>
        <nav>
          <li><a href="#">About</a></li>
          <li><a class="loginText" href="/login">Login</a></li>
        </nav>
      </div>
    </header>

    <div class="line_wrap">Sign Up</div>
  </body>
</html>
